:root {
  --width-mobile: 37.5rem;
  --width-desktop: 144rem;

  // colors
  --clr-prim-blue: hsl(223, 87%, 63%);
  --clr-prim-black: hsl(0, 0%, 0%);

  --clr-sec-pale-blue: hsl(223, 100%, 88%);
  --clr-sec-light-red: hsl(354, 100%, 66%);
  --clr-title: hsl(0, 0%, 64%);

  --clr-bg-body: hsl(0, 0%, 100%);

  // typography
  --fs-body: 2rem;
  --fs-base: 1.6rem;
  --fs-small-text: 1.4rem;
  --fs-copyright: 1.1rem;
  --fs-title: 3.5rem;

  --ff-libre-franklin: 'Libre Franklin', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}
